@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
.container{
  width: 100%;
  margin: 1em auto;
  background-color: darkslategray;
}
.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  gap: 0.3em;
  justify-content: center;
  
}
.benahi{
  font-size: 25px;
  color: white;
}

.card-img-top{
  width: 14rem;
}
h2{
  background-color: antiquewhite;
}
.size{
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
